:root{
	--third: #99ff99;
	--primary: white;
	--secondary: black;
}
body{
	padding-bottom: 5%;
	background-color: var(--primary);
	color: var(--secondary);
}

.sub-head{
	color: var(--third);
		display: inline;
		background-color: rgb(0,0,0,0.6);
		padding: 0.5%;
}

.by-line{
	color: var(--third);
	display: inline;
	background-color: rgb(0,0,0,0.6);
	font-weight: bold;
}

.main{
	margin-top: 20%;
	margin-bottom: 20%;
	background-color: rgba(0,0,0,0.4);
	color: white;
}

.head{
	height: 50%;
	background-image: url("bg.jpg");
	background-size: cover;
	background-attachment: scroll;
	margin-bottom: 20px;
}

h1{font-family: 'Merienda';}
h2,h3{font-family: 'Handlee';}
p{font-family: 'Patrick Hand';}

.fill{
	width: auto;
}

.content{
	border-left: 3px solid var(--third);
	border-top-left-radius: 10px;
	/* color: white; */
	background-color: rgba(255,255,255,0.8);
	padding: 0.4em;
}

i.fas.lg{
	font-size: 5rem;
}

.no-link{
	text-decoration: none;
	color: inherit;
	font-size: 4em;
}

div.sm{
	float: center;
	border: 2px solid black;
	border-radius: 10px;
}
